#header {
    text-align: center;
    padding: 2.5% 0 2% 0;
    color: #3A3F87;
    font-size: xx-large;
    /* font-family:Helvetica, Arial sans-serif;
    border-radius: 0.625em;
    background-color: #FFF9D1;
    margin: 1em 15em; */
}

.img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* justify-content: center; */
    width: 80%;
    margin: 0em auto;
    /* padding: 2em; */
    padding: 4em;
    gap: 2em;
    background-color: #FFF9D1;
    border-radius: 0.625em;
    margin-bottom: 2em;
}

.img-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15%;
    min-width: 15.625em;
    height: 21.25em;
    /* background-color: #fbf8e5; */
    background-color: #F0983E;
    border-radius: 0.625em;
    padding: 0.625em;
}

.img-card:hover {
    /* background-color: #F0983E; */
    background-color: #fbf8e5;
}

.img-card  img {
    max-height: 70%;
    max-width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 10px 10px 0px 0px;
}


.img-card  h2 {
    font-weight: bold;
    text-align: center;
    color: #3A3F87;
}

.img-card a {
    text-decoration: none;
    color: black;
}

.img-caption {
    display: flex;
    flex-direction: column;
    gap: 1em;
}