
#ingredients {
    width: 250px; 
    height: 250px;
}

#guacamole {
    width: 250px; 
    height: 250px;
}


.container-recipe {
    background-color: #F0983E;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 24px;
}

.container-recipe li{
    max-width: 700px;
}

h1,
p,
h2 {
    text-align: center;
}


#recipe-page-body{
    max-width: 1300px;
    margin-inline: auto;
}