@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Rye&display=swap');
* {
    margin: 0;
    cursor: url('/assets/avocado.cur'), auto;
}

/* body { */
    /* background-image: url("/assets/avocado-background-opacity-20.png"); */
    /* background-image: url('../assets/avocado-pattern.jpg'); */
    /* background-repeat: repeat, space; */
    /* background-color: #FFF9D1;  */
    /* background-size: 5%; */
    /* max-width: 100%; */
/* } */

#title {
    font-family: Rye;
}
.nav-bar {
    display: flex;
    max-width: 100%;
    background-color: #5DC7A4;
    color: #FFF9D1;
    justify-content: space-between;
    padding: 2% 5%;
    opacity: 80%;
}

.nav-bar-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
}

.nav-bar-links li {
    padding: 8% 5%;
    background-color:#CF3E81;
    border-radius: 20%;
    list-style: none;
}

.nav-bar-links a {
    color: #FFF9D1;
    text-decoration: none;
}

/* visited link */
.nav-bar-links a:visited {
    color: #FFF9D1;
}

/* selected link */
.nav-bar-links a:active {
    color: blue;
}

.nav-bar-links li:hover{
    background-color:#5DC7A4;
}


footer {
    background-color: #CF3E81;
    padding: 2rem 2rem;
    position: relative;
    bottom: 0;
    text-align: center;
    max-width: 100%;
    color: #FFF9D1;
    text-align: left;
    margin-top: 2rem;

}