@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Rye&display=swap');
* {
    margin: 0;
    cursor: url('../assets/avocado.cur'), auto;
}

/* body { */
    /* background-image: url("/assets/avocado-background-opacity-20.png"); */
    /* background-image: url('../assets/avocado-pattern.jpg'); */
    /* background-repeat: repeat, space; */
    /* background-color: #FFF9D1;  */
    /* background-size: 5%; */
    /* max-width: 100%; */
/* } */

#title {
    font-family: Rye;
}
.nav-bar {
    display: flex;
    max-width: 100%;
    background-color: #5DC7A4;
    color: #FFF9D1;
    justify-content: space-between;
    padding: 2% 5%;
    opacity: 80%;
}

.nav-bar-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
}

.nav-bar-links li {
    padding: 8% 5%;
    background-color:#CF3E81;
    border-radius: 20%;
    list-style: none;
}

.nav-bar-links a {
    color: #FFF9D1;
    text-decoration: none;
}

/* visited link */
.nav-bar-links a:visited {
    color: #FFF9D1;
}

/* selected link */
.nav-bar-links a:active {
    color: blue;
}

.nav-bar-links li:hover{
    background-color:#5DC7A4;
}


#footer {
    width: 100%;
    position: relative;
    bottom: 0;
    padding: 1.5em 0;
}

#footer-text {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    color: #FFF9D1;
    width: 70%;
    border-bottom: 1px solid #FFF9D1;
    padding: 0 0 .15em .85em;
    margin: 1em auto;
    display: flex;
    align-items: center;
    gap: 1rem;
    
}
#footer-text span{
    font-size: .75em;
}

#footer-links {
    width: 90%;
    margin: auto;
}
#footer-links ul {
    display: flex; 
    justify-content: center;
    list-style-type: none;
}
#footer-links li {
    text-decoration: none;
}
#footer-links a {
    font-family: "Raleway", sans-serif;
    font-size: .9em;
    font-weight: 500;
    color: #FFF9D1;
}
#footer p {
    color: black;
    font-size: .75em;
    font-weight: 400;
    margin-top: 2em;
}